@charset "UTF-8";
/*!
 * ress.css 窶｢ v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

body {
  overflow-x: hidden;
}

body.is-open {
  position: fixed;
}

@font-face {
  font-family: 'M+ 1m bold';
  src: url("../fonts/mplus-1m-bold-sub.eot");
  src: url("../fonts/mplus-1m-bold-sub.eot?#iefix") format("embedded-opentype"), url("../fonts/mplus-1m-bold-sub.woff") format("woff"), url("../fonts/mplus-1m-bold-sub.ttf") format("truetype");
}

body {
  font-family: 'M+ 1m bold';
}

.l-header {
  height: 100%;
  background-color: #FFFDFA;
  text-align: center;
  width: 100%;
}

@media (min-width: 1200px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 217px;
  }
}

.l-header__left h1 {
  font-family: 'Roboto';
  color: #707070;
  margin: 0px 46px 38px 86px;
  padding-top: 40px;
  font-size: 40px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .l-header__left h1 {
    color: #707070;
  }
}

@media (min-width: 1200px) {
  .l-header__left h1 {
    color: #707070;
    margin: 0;
    padding-top: 0;
    padding-left: 65px;
    font-size: 64px;
  }
}

.l-header-archive {
  grid-column: 1/2;
}

.p-searchform input[type=text] {
  height: 46px;
  border: 1px solid #707070;
  line-height: 26px;
  padding: 0 11px;
  font-family: FontAwesome;
  border-radius: 10px;
  margin-bottom: 38px;
}

@media (min-width: 768px) {
  .p-searchform input[type=text] {
    width: 396px;
  }
}

@media (min-width: 1200px) {
  .p-searchform input[type=text] {
    width: 300px;
    color: #fff;
    font-size: 20px;
    margin: 0;
  }
}

.searchform ::-webkit-input-placeholder,
.searchform :-ms-input-placeholder,
.searchform ::-moz-placeholder {
  color: #d4d4d4;
}

.p-searchform button[type=submit] {
  font-family: 'Roboto','M+ C Type-1 (basic latin) Regular','M+ Type-1 (general-j) Regular', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background: #F2EDE9;
  border: solid 1px;
  border-color: #707070;
  color: #707070;
  padding: 0 10px;
  margin-left: 12px;
  cursor: pointer;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .p-searchform button[type=submit] {
    margin-left: 14px;
    width: 136px;
  }
}

.c-button {
  height: 46px;
  width: 100px;
  line-height: 26px;
}

@media (min-width: 1200px) {
  .p-searchform {
    display: flex;
    padding-right: 10px;
    align-items: center;
  }
}

.p-hero {
  position: relative;
  height: 285px;
  background-image: url(../image/3ba5a44414bb3c0885c27ff614596431.png);
  background-size: cover;
  background-position: center;
  width: auto;
}

@media (min-width: 1200px) {
  .p-hero {
    height: 530px;
    width: 100%;
  }
}

.p-hero__archive {
  background-image: url(../image/hero2.png);
  background-color: #000;
  height: 283px;
  width: 100%;
}

@media (min-width: 1200px) {
  .p-hero__archive {
    height: 239px;
  }
  .p-hero__archive h1 {
    font-size: 60px;
  }
}

.p-hero__single {
  background-image: url(../image/hero3.png);
  background-position: center;
  background-size: cover;
  height: 225px;
}

@media (min-width: 768px) {
  .p-hero__single {
    height: 500px;
  }
}

.p-hero__page {
  background-image: url(../image/shop.png);
}

.p-global-nav {
  position: fixed;
  right: -87%;
  /* これで隠れる */
  top: 0;
  width: 87%;
  /* スマホに収まるくらい */
  height: 100%;
  background-color: #F2EDE9;
  transition: all .6s;
  z-index: 200;
  overflow-y: scroll;
  /* メニューが多くなったらスクロールできるように */
}

@media (min-width: 768px) {
  .p-global-nav {
    width: 367px;
    right: -367px;
  }
}

@media (min-width: 1200px) {
  .p-global-nav {
    padding-top: 216px;
    width: 367px;
    height: 2843px;
    position: static;
  }
}

.p-global-nav.is-open {
  transition: .6s;
  right: 0;
}

.p-global-nav__list {
  font-size: 24px;
  padding: 34px 0 0 46px;
  text-align: left;
  color: #707070;
  font-family: 'M+ Type-1 (general-j) bold';
}

.is-open .black-bg {
  opacity: .8;
  visibility: visible;
}

@media (min-width: 1200px) {
  .is-open .black-bg {
    display: none;
  }
}

.p-global-nav-archive {
  height: 100%;
}

@media (min-width: 1200px) {
  .p-global-nav-archive {
    height: 2445px;
  }
}

.p-global-nav-archive__search {
  height: 100%;
}

@media (min-width: 1200px) {
  .p-global-nav-archive__search {
    height: 3445px;
  }
}

@media (min-width: 1200px) {
  .p-global-nav__single {
    height: 6097px;
  }
}

.c-global-nav__item {
  text-align: left;
  list-style: none;
}

.c-global-nav__item a {
  font-size: 20px;
  font-family: 'M+ Type-1 (general-j) regular';
  display: block;
  padding-top: 23px;
  text-decoration: none;
  color: #707070;
}

.p-hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px;
  /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
  display: none;
}

.p-hamburger.is-open {
  display: block;
  transition: all .6s;
}

@media (min-width: 1200px) {
  .p-hamburger.is-open {
    display: none;
  }
}

.p-hamburger::after {
  transform: rotate(-45deg);
  content: '';
  width: 22px;
  height: 3px;
  background-color: #707070;
  position: absolute;
  left: calc(50% - (20px / 2 ));
  display: block;
  transition: transform 0.2s;
  top: 24px;
}

.p-hamburger::before {
  top: 24px;
  transform: rotate(45deg);
  content: '';
  width: 22px;
  height: 3px;
  background-color: #707070;
  position: absolute;
  left: calc(50% - (20px / 2 ));
  display: block;
  transition: transform 0.2s;
  bottom: 15px;
}

.p-hamburger_button {
  font-family: 'Roboto';
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 16px;
  top: 14px;
}

@media (min-width: 768px) {
  .p-hamburger_button {
    font-size: 34px;
    top: 18px;
    right: 26px;
  }
}

@media (min-width: 1200px) {
  .p-hamburger_button {
    right: 235px;
    top: 82px;
    font-size: 34px;
  }
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}

.l-main {
  grid-column: 1/2;
  grid-row: 2/3;
}

@media (min-width: 1200px) {
  .l-main-archive {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media (min-width: 768px) {
  .p-service {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .p-service {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 1447px;
  }
}

.p-service__box {
  position: relative;
  background-image: url(../image/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
  background-size: cover;
  height: 642px;
  margin: 20px;
}

@media (min-width: 768px) {
  .p-service__box {
    width: 100%;
    height: 700px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 41px;
    margin-left: 40px;
  }
}

@media (min-width: 1200px) {
  .p-service__box {
    height: 1192px;
    margin-top: 120px;
    margin-bottom: 134px;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
  }
}

.p-service__archive p {
  color: #3c2a10;
  height: 276px;
  width: 100%;
  font-size: 16px;
  font-family: "M+ Type-1 (general-j) regular";
  padding: 30px 18px 0px 22px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .p-service__archive p {
    padding: 25px 35px 37px 42px;
    height: 143px;
  }
}

@media (min-width: 1200px) {
  .p-service__archive p {
    padding: 25px 100px 70px 100px;
  }
}

.p-service__single p {
  padding: 30px 0 0 0;
}

@media (min-width: 768px) {
  .p-service__single p {
    padding: 60px 0 0 0;
  }
}

.c-service__title {
  position: absolute;
  color: #fff;
  font-size: 41px;
  margin: 11px 0 0 10px;
}

@media (min-width: 768px) {
  .c-service__title {
    font-size: 44px;
    margin: 12px 0 0 11px;
  }
}

@media (min-width: 1200px) {
  .c-service__title {
    font-size: 400%;
    white-space: nowrap;
    margin: 20px 0 0 19px;
  }
}

.c-service__archive__title {
  color: #3c2a10;
  font-family: "M+ Type-1 (general-j) bold";
  font-size: 28px;
  padding: 30px 0px 0px 22px;
}

@media (min-width: 768px) {
  .c-service__archive__title {
    font-size: 36px;
    padding: 36px 0 0 42px;
  }
}

@media (min-width: 1200px) {
  .c-service__archive__title {
    padding: 60px 0 0 100px;
  }
}

.c-service__single__title {
  padding: 30px 0 0 0;
}

@media (min-width: 768px) {
  .c-service__single__title {
    padding: 60px 0 0 0;
  }
}

.u-bgi--eatin {
  background-image: url(../image/473d814b175bd517b56eb309f2958725.png);
  background-position: center;
}

@media (min-width: 768px) {
  .u-bgi--eatin {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .u-bgi--eatin {
    margin-top: 120px;
    margin-bottom: 134px;
    margin-right: 5%;
    margin-left: 0;
  }
}

.p-service-contents {
  height: 163px;
  position: absolute;
  top: 297px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  overflow: hidden;
  margin: 0 10px 10px 10px;
}

@media (min-width: 768px) {
  .p-service-contents {
    padding: 0;
    top: 316px;
    height: 172px;
  }
}

@media (min-width: 1200px) {
  .p-service-contents {
    overflow: hidden;
    height: 174px;
    top: 805px;
  }
}

.c-service-contents__title {
  font-family: 'M+ Type-1 (general-j) bold';
  font-size: 22px;
  color: #3C2A10;
}

@media (min-width: 768px) {
  .c-service-contents__title {
    padding: 20px 0 0 11px;
  }
}

@media (min-width: 1200px) {
  .c-service-contents__title {
    padding: 17px 0 0 19px;
  }
}

.c-service-contents__text {
  width: 100%;
  height: 100%;
  padding-top: 19px;
  font-size: 16px;
  color: #3C2A10;
  font-family: 'M+ Type-1 (general-j) Regular';
}

@media (min-width: 768px) {
  .c-service-contents__text {
    padding: 0 15px 22px 11px;
  }
}

@media (min-width: 1200px) {
  .c-service-contents__text {
    padding: 26px 25px 0 19px;
  }
}

.u-top {
  top: 469px;
}

@media (min-width: 768px) {
  .u-top {
    top: 498px;
  }
}

@media (min-width: 1200px) {
  .u-top {
    top: 999px;
  }
}

.p-access {
  height: 691px;
  justify-content: center;
  color: #fff;
  position: relative;
  width: 100%;
  background-size: cover;
  background-image: url(../image/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
  position: relative;
  background-position: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.7) 60%, rgba(128, 128, 128, 0.9) 40%, rgba(128, 128, 128, 0.7) 40%), url(../image/access1.png);
}

@media (min-width: 768px) {
  .p-access {
    height: 415px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.7) 100%, rgba(128, 128, 128, 0.9) 100%, rgba(128, 128, 128, 0.7) 100%), url(../image/access1.png);
  }
}

@media (min-width: 1200px) {
  .p-access {
    height: 649px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.7) 60%, rgba(128, 128, 128, 0.9) 40%, rgba(128, 128, 128, 0.7) 40%), url(../image/access1.png);
  }
}

.p-access-wrapper__title {
  padding: 40px 0 0 42px;
  font-family: 'M+ Type-1 (general-j) bold';
}

@media (min-width: 1200px) {
  .p-access-wrapper__title {
    font-size: 36px;
    padding: 83px 0 0 119px;
  }
}

.p-access-wrapper__text {
  font-family: 'M+ Type-1 (general-j) bold';
  height: 518px;
  line-height: 33px;
  padding: 40px 40px;
  overflow: hidden;
  font-size: 14px;
}

@media (min-width: 768px) {
  .p-access-wrapper__text {
    padding: 40px 29px 10px 42px;
    height: 356px;
  }
}

@media (min-width: 1200px) {
  .p-access-wrapper__text {
    overflow-wrap: break-word;
    height: 356px;
    width: 697px;
    padding: 119px 0 0 119px;
  }
}

@media (min-width: 1200px) {
  .p-access-wrapper {
    height: 649px;
  }
}

.p-container {
  font-family: 'M+ Type-1 (general-j) regular';
  font-size: 20px;
  background-color: #9D8670;
  height: 150px;
  width: 100%;
  color: #fff;
  text-align: center;
}

@media (min-width: 1200px) {
  .p-container {
    width: 100%;
    height: 150px;
  }
}

.p-container__title {
  font-size: 20px;
  padding-top: 43px;
}

.p-container__text {
  font-family: 'M+ Type-1 (general-j) regular';
  padding-top: 39px;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .p-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 2843px 150px;
    grid-template-columns: 1fr 367px;
  }
}

@media (min-width: 1200px) {
  .p-wrapper--archive {
    display: grid;
    grid-template-columns: 1fr 367px;
    grid-template-rows: 2445px 150px;
  }
}

@media (min-width: 1200px) {
  .p-wrapper-archive__serch {
    display: grid;
    grid-template-columns: 1fr 367px;
    grid-template-rows: 3445px 150px;
  }
}

@media (min-width: 1200px) {
  .p-wrapper-single {
    display: grid;
    grid-template-columns: 1fr 367px;
    grid-template-rows: 6097px 150px;
  }
}

@media (min-width: 1200px) {
  .l-sidebar {
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .p-grid {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.p-grid-archive {
  grid-column: 1/2;
  grid-row: 1/2;
}

.l-footer {
  grid-column: 1/3;
  grid-row: 2/3;
}

.u-size22 {
  font-size: 22px;
}

.u-size20 {
  font-size: 20px;
}

.c-service__titile__bar {
  position: absolute;
  top: 75.3px;
  width: 33.89px;
  border: solid 2px;
  left: 3.5px;
  color: #fff;
}

@media (min-width: 768px) {
  .c-service__titile__bar {
    width: 35.94px;
    top: 91.6px;
    left: 15.1px;
  }
}

@media (min-width: 1200px) {
  .c-service__titile__bar {
    top: 160.5px;
    left: 26.5px;
    width: 63px;
  }
}

.u-border {
  display: none;
}

@media (min-width: 768px) {
  .u-border {
    display: block;
  }
}

.u-border__2 {
  top: 102px;
  left: 42.5px;
  width: 75px;
  border: solid 1px;
}

@media (min-width: 1200px) {
  .u-border__2 {
    top: 189.5px;
    left: 119.5px;
  }
}

@media (min-width: 768px) {
  .u-border__3 {
    top: 79.5px;
    left: 3.3px;
  }
}

@media (min-width: 1200px) {
  .u-border__3 {
    top: 140.5px;
  }
}

.p-global-nav__wrap {
  padding: 40px 0 0 20px;
}

@media (min-width: 768px) {
  .p-global-nav__wrap {
    padding-top: 40px;
  }
}

.u-padding {
  padding: 216px 0 0 46px;
}

@media (min-width: 768px) {
  .u-padding {
    padding: 212px 0 0 46px;
  }
}

@media (min-width: 1200px) {
  .u-padding {
    padding: 212px 0 0 46px;
  }
}

@media (min-width: 1200px) {
  .u-padding {
    padding: 0 0 0 46px;
  }
}

.u-padding2 a {
  padding: 0;
}

.c-header__title {
  font-family: 'M+ Type-1 (general-j) bold';
  font-weight: bold;
  font-size: 36px;
  padding: 119px 0 0 25px;
  color: #fff;
}

@media (min-width: 768px) {
  .c-header__title {
    padding: 119px 0 0 86px;
  }
}

@media (min-width: 1200px) {
  .c-header__title {
    padding: 231px 0 0 86px;
    font-size: 40px;
  }
}

.c-header__title h1 {
  font-size: 36px;
}

.c-header__title p {
  font-size: 16px;
  top: 0;
}

.c-header__title2, .c-header__title__page, .c-header__title3 {
  font-family: 'M+ Type-1 (general-j) bold';
  font-weight: bold;
  font-size: 36px;
  padding: 102px 0 0 37px;
  color: #fff;
}

@media (min-width: 768px) {
  .c-header__title2, .c-header__title__page, .c-header__title3 {
    display: flex;
    align-items: center;
    padding: 102px 0 0 86px;
  }
}

.c-header__title2 h1, .c-header__title__page h1, .c-header__title3 h1 {
  font-size: 36px;
}

@media (min-width: 768px) {
  .c-header__title2 h1, .c-header__title__page h1, .c-header__title3 h1 {
    font-size: 60px;
  }
}

.c-header__title2 p, .c-header__title__page p, .c-header__title3 p {
  font-size: 16px;
}

@media (min-width: 768px) {
  .c-header__title2 p, .c-header__title__page p, .c-header__title3 p {
    padding-left: 20px;
  }
}

.c-header__title__page h1 {
  padding: 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .c-header__title__page h1 {
    margin: 209px 0 0 86px;
  }
}

@media (min-width: 768px) {
  .c-header__title__page {
    padding: 0;
  }
}

.c-header__title3 {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .c-header__title3 {
    padding: 209px 0 0 86px;
  }
}

.c-header__title3 p {
  font-size: 36px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .c-header__title3 p {
    font-size: 60px;
  }
}

.p-menu__box {
  height: 582px;
  padding: 0 19px 20px 21px;
  width: 100%;
  position: relative;
  margin-top: 20.9px;
}

@media (min-width: 768px) {
  .p-menu__box {
    width: 100%;
    height: 354.5px;
    padding: 0 35px 20.5px 43px;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .p-menu__box {
    height: 471px;
    padding: 0 80px 0  80px;
    margin-top: 30px;
  }
}

.p-menu__box__wrapper {
  font-size: 20px;
  background-color: #3C2B1C;
  height: 355px;
  color: #fff;
  padding: 31px 0 0 17px;
  font-family: 'M+ Type-1 (general-j) bold';
}

@media (min-width: 768px) {
  .p-menu__box__wrapper {
    width: 50%;
    padding: 30px 59px 0 34.7px;
  }
}

@media (min-width: 1200px) {
  .p-menu__box__wrapper {
    height: 471px;
    padding: 53px 0 0 63px;
    width: 50%;
  }
}

.p-menu__box__picture {
  height: 230px;
  background-image: url(../image/e3472c768077e90f47f5ca3c6ba0144e.png);
  background-size: cover;
  width: 100%;
  background-position: center;
}

@media (min-width: 768px) {
  .p-menu__box__picture {
    height: 355px;
    width: 50%;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .p-menu__box__picture {
    height: 471px;
    width: 50%;
    object-fit: cover;
  }
}

.p-menu-box1__single {
  margin-top: 30px;
  display: flex;
  font-family: "M+ Type-1 (general-j) regular";
  color: #3C2A10;
}

@media (min-width: 768px) {
  .p-menu-box1__single {
    margin-top: 60px;
  }
}

.p-menu-box2__single {
  margin-top: 30px;
  display: flex;
  font-family: "M+ Type-1 (general-j) regular";
  color: #3C2A10;
  flex-direction: row-reverse;
}

@media (min-width: 1200px) {
  .p-menu-box2__single {
    margin-top: 60px;
  }
}

.p-page {
  height: 113.4px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .p-page {
    height: 170.5px;
    display: flex;
    justify-content: center;
  }
}

.p-page__pages {
  display: none;
}

@media (min-width: 768px) {
  .p-page__pages {
    color: #707070;
    display: block;
    margin-top: 105.5px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    font-weight: bold;
  }
}

@media (min-width: 1200px) {
  .p-page__pages {
    margin-top: 150px;
  }
}

.p-page__link {
  color: #707070;
  text-decoration: none;
  margin-top: 60.4px;
  margin-left: 20.3px;
  margin-right: 20.2px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .p-page__link {
    margin-top: 105.5px;
    margin-right: 17.2px;
    margin-left: 19.3px;
  }
}

@media (min-width: 1200px) {
  .p-page__link {
    margin-top: 150px;
  }
}

.p-page-navi__pre {
  margin-left: 8.2px;
  margin-right: 7.3px;
}

@media (min-width: 768px) {
  .p-page-navi__pre {
    display: none;
  }
}

.c-page-button {
  display: none;
}

@media (min-width: 768px) {
  .c-page-button {
    display: block;
    text-decoration: none;
    font-size: 16px;
    margin-top: 105.5px;
    margin-right: 15px;
    padding-top: 5px;
    height: 35px;
    width: 35px;
    border: solid #cccccc 2px;
    color: #707070;
    font-weight: bold;
  }
  .c-page-button:hover {
    background: #3C2B1C;
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .c-page-button {
    margin-top: 150px;
  }
}

.u-margin {
  margin-right: 0;
}

.u-margin__single {
  margin: 0 9px 0 0;
}

@media (min-width: 768px) {
  .u-margin__single {
    margin: 0 21px 0 0;
  }
}

@media (min-width: 1200px) {
  .u-margin__single {
    margin-right: 40px;
  }
}

.u-margin__single2 {
  padding-left: 18px;
}

.u-margin__single3 {
  margin-top: 60px;
}

@media (min-width: 1200px) {
  .u-margin__single3 {
    margin-top: 140px;
  }
}

.c-menu__button {
  display: block;
  margin-top: 40px;
  margin: 40px auto 0 auto;
  background-color: #fff;
  color: #707070;
  font-size: 16px;
  height: 42.47px;
  width: 163.16px;
  border-radius: 50px;
}

@media (min-width: 768px) {
  .c-menu__button {
    margin-top: 45px;
  }
}

@media (min-width: 1200px) {
  .c-menu__button {
    height: 50px;
    width: 200px;
    margin: 60px auto 0 auto;
  }
}

.c-menu__button__single {
  font-size: 16px;
  font-family: "M+ Type-1 (general-j) regular";
  border-radius: 20px;
  width: 60%;
  height: 104px;
  border: solid 1px #707070;
  background-color: #F2EDE9;
  margin-top: 60px;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .c-menu__button__single {
    width: 30%;
  }
}

.c-menu__title {
  font-size: 20px;
}

@media (min-width: 1200px) {
  .c-menu__title {
    font-size: 36px;
  }
}

.c-menu__text {
  font-size: 16px;
  font-family: 'M+ Type-1 (general-j) regular';
  padding-top: 10px;
  padding-right: 31px;
}

@media (min-width: 1200px) {
  .c-menu__text {
    font-size: 16px;
    padding-top: 17px;
  }
}

.c-headline {
  font-family: 'M+ Type-1 (general-j) bold';
}

.c-headline__3 {
  font-size: 16px;
  padding-top: 24px;
}

@media (min-width: 1200px) {
  .c-headline__3 {
    font-size: 24px;
    padding-top: 47px;
  }
}

.c-headline__3__single {
  font-size: 24px;
  font-family: 'M+ Type-1 (general-j) bold';
  color: #3C2A10;
  padding: 34px 0 0 0px;
}

@media (min-width: 768px) {
  .c-headline__3__single {
    padding: 60px 0 0 0;
    font-size: 28px;
  }
}

.c-headline__4__single {
  font-size: 20px;
  font-family: 'M+ Type-1 (general-j) bold';
  color: #3C2A10;
  padding: 31px 0 0 0px;
}

.c-headline__4 {
  font-size: 16px;
  padding-top: 24px;
}

@media (min-width: 1200px) {
  .c-headline__4 {
    font-size: 24px;
  }
}

.p-blockquote {
  color: #3C2A10;
  font-family: "M+ Type-1 (general-j) regular";
  padding: 30px 16px 0 20px;
  height: 617px;
  margin: 30px 0px 0 0px;
  background-color: #F5F5F5;
}

@media (min-width: 768px) {
  .p-blockquote {
    height: 444px;
    padding: 50px 56px 0 50px;
    margin: 60px 0 0 0;
  }
}

@media (min-width: 1200px) {
  .p-blockquote {
    padding: 50px 60px 0 50px;
  }
}

.c-blockquote__text {
  font-size: 16px;
  height: 505px;
}

@media (min-width: 768px) {
  .c-blockquote__text {
    height: 252px;
  }
}

.c-blockquote__source {
  padding-top: 30px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .c-blockquote__source {
    font-size: 16px;
    padding-top: 60px;
    padding-left: 0px;
  }
}

.c-menu__picture__main {
  background-image: url(../image/cooked-foods-750073.png);
  height: 124px;
  background-size: cover;
  background-position: center;
  margin: 30px 0px 0 0px;
}

@media (min-width: 768px) {
  .c-menu__picture__main {
    height: 264px;
    margin: 60px 0 0 0;
  }
}

@media (min-width: 1200px) {
  .c-menu__picture__main {
    height: 500px;
  }
}

.c-menu__picture__sub {
  background-image: url(../image/cooked-foods-750073.png);
  background-size: cover;
  height: 166px;
  width: 267px;
  background-position: center;
  margin: 30px  auto 0 auto;
}

@media (min-width: 768px) {
  .c-menu__picture__sub {
    height: 356px;
    width: 581px;
  }
}

.c-menu-box__text {
  width: 70%;
  height: 176px;
  margin-left: 10px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .c-menu-box__text {
    height: 373px;
    margin-left: 21px;
  }
}

@media (min-width: 1200px) {
  .c-menu-box__text {
    margin-left: 40px;
    width: 54%;
    height: 191px;
  }
}

.c-menu-box__picture {
  background-image: url(../image/cooked-foods-750073.png);
  height: 89px;
  width: 30%;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .c-menu-box__picture {
    height: 189px;
    width: 42%;
  }
}

@media (min-width: 1200px) {
  .c-menu-box__picture {
    height: 358px;
  }
}

.p-list, .p-list__sub {
  color: #3C2A10;
  font-family: "M+ Type-1 (general-j) regular";
  font-size: 16px;
}

.p-list__wrap {
  padding-top: 20px;
  list-style: none;
}

.p-list__sub {
  padding-top: 40px;
}

@media (min-width: 768px) {
  .p-menu__list__grid {
    display: grid;
    grid-template-rows: 205px 205px 205px 205px;
    grid-template-columns: 48% 48%;
    gap: 20px 16px;
  }
}

@media (min-width: 1200px) {
  .p-menu__list__grid {
    grid-template-rows: 257px 257px 257px;
    grid-template-columns: 32% 32% 32%;
    gap: 20px 20px;
  }
}

pre {
  padding: 50px 59px 50px 50px;
  margin: 30px 0px 0px;
  height: 237px;
  background-color: #F5F5F5;
}

@media (min-width: 1200px) {
  pre {
    margin-top: 60px;
  }
}

.p-table {
  margin-top: 30px;
  padding: 10px 20px 0 20px;
  width: 100%;
  border-collapse: collapse;
  color: #3C2A10;
  font-family: "M+ Type-1 (general-j) regular";
}

@media (min-width: 1200px) {
  .p-table {
    margin-top: 50px;
  }
}

.p-table tr, .p-table td {
  border: solid 1px black;
}

.p-table th {
  padding: 28px 41px 27px 30px;
  width: 40%;
}

@media (min-width: 768px) {
  .p-table th {
    width: 30%;
    padding: 28px 105px 27px 30px;
  }
}

@media (min-width: 1200px) {
  .p-table th {
    text-align: left;
    padding: 28px 0px 27px 30px;
  }
}

.p-table td {
  padding: 28px 106px 27px 30px;
  width: 60%;
}

@media (min-width: 768px) {
  .p-table td {
    padding: 28px 405px 27px 30px;
  }
}

.c-menu__list {
  background-image: url(../image/cooked-foods-750073.png);
  height: 205px;
  background-position: center;
  background-size: cover;
  margin: 20px  0px 0 0px;
}

@media (min-width: 1200px) {
  .c-menu__list {
    height: 257px;
    margin-top: 60px;
  }
}

.p-service__wrap__single {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .p-service__wrap__single {
    padding: 0 60px;
  }
}

.c-text__bold {
  margin: 60px 0 70px 0;
  font-size: 16px;
  font-family: 'M+ 1m bold';
  color: #3C2A10;
}

@media (min-width: 768px) {
  .u-text {
    height: 369px;
  }
}

@media (min-width: 1200px) {
  .u-text {
    height: 191px;
  }
}
/*# sourceMappingURL=styles.css.map */