.p-menu__box {
  height: 582px;
  // background-position: center;
  padding: 0 19px 20px 21px;
  width: 100%;
  position: relative;
  margin-top: 20.9px;

  @include breakpoint(tablet) {
    width: 100%;
    // width: 756px;
    height: 354.5px;
    padding: 0 35px 20.5px 43px;
    // margin: 20.5px 35px 0 43px;
    //   margin-top: 20.5px;
    //   margin-left: 43px;
    //  margin-right: 35px;
    // margin: 20.5px 35px 0 43px;
    display: flex;
  }
  @include breakpoint(pc) {
    height: 471px;
    padding: 0 80px 0 80px;
    // padding: 0;

    margin-top: 30px;
  }

  &__wrapper {
    font-size: 20px;
    background-color: #3c2b1c;
    height: 355px;
    color: #fff;
    padding: 31px 0 0 17px;
    font-family: "M+ Type-1 (general-j) bold";
    @include breakpoint(tablet) {
      width: 50%;
      padding: 30px 59px 0 34.7px;
    }
    @include breakpoint(pc) {
      height: 471px;
      padding: 53px 0 0 63px;
      width: 50%;
    }
    p {
      font-size: 16px;
      font-family: "M+ Type-1 (general-j) regular";
      padding-top: 10px;
      padding-right: 31px;
      overflow: hidden;
      @include breakpoint(tablet) {
        height: 73px;
       
      }
      @include breakpoint(pc) {
        font-size: 16px;
        padding-top: 17px;
      }
    }
  }
  &__picture {
    background-size: cover;

    background-position: center;
    img {
      height: 230px;
      width: 100%;
      background-size: cover;
      background-position: center;
      @include breakpoint(tablet) {
        height: 354px;
      }
      @include breakpoint(pc) {
        height: 471px;
      }
    }

    @include breakpoint(tablet) {
      height: 355px;
      width: 50%;
      background-size: cover;
    }
    @include breakpoint(pc) {
      height: 471px;
      width: 50%;
      object-fit: cover;
    }
  }
}

.p-menu-box1__single {
  margin-top: 30px;

  display: flex;
  font-family: $font-regular;
  color: $font-color;
  p {
     // width: 183px;
 
  width: 70%;
  height: 176px;
  margin-left: 10px;
  overflow: hidden;
  @include breakpoint (tablet) {
    height: 373px;
    margin-left: 21px;
  }
  @include breakpoint (pc) {
    margin-left: 40px;
    width: 54%;
    height: 191px;
  }
  }
  @include breakpoint(tablet) {
    margin-top: 60px;
  }
}
.p-menu-box2__single {
  margin-top: 30px;
  display: flex;
  font-family: $font-regular;
  color: $font-color;
  flex-direction: row-reverse;
  @include breakpoint(pc) {
    margin-top: 60px;
  }
}
