.p-searchform input[type=text] {

  height: 46px;
  border: 1px solid #707070;
  line-height: 26px;
  padding: 0 11px;
  font-family: FontAwesome;
  border-radius :10px;
  margin-bottom: 38px;
  color: black;
  @include breakpoint (tablet) {
    width: 396px;
  }
  @include breakpoint (pc) {
    width: 300px;
    
    font-size: 20px;
    margin: 0;
  }
  
}

.searchform ::-webkit-input-placeholder,
.searchform :-ms-input-placeholder,
.searchform ::-moz-placeholder {
  color: #d4d4d4;
}

.p-searchform button[type=submit] {
 
  font-family: 'Roboto','M+ C Type-1 (basic latin) Regular','M+ Type-1 (general-j) Regular', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background:#F2EDE9;
  border: solid 1px;
  border-color:#707070 ;
  color:#707070;
  padding: 0 10px;
  margin-left: 12px;
  cursor: pointer;
  border-radius: 10px;
  @include breakpoint (tablet) {
    margin-left: 14px;
    width: 136px;
  }
}
@include breakpoint(pc) {
  // display: flex;
  
 
}
.c-button {
  height: 46px;
  width: 100px;
  line-height: 26px;
}



.p-searchform {
@include breakpoint(pc) {
 
 display: flex;
 padding-right: 10px;
 
  align-items: center;

}
}