.p-wrapper {
  @include breakpoint(pc) {
    width: 100%;
    display: grid;
    // 縦
    // grid-template-rows: 2843px 150px;
    // grid-template-rows: 217px 530px 1000px 150px;
    //  横
    grid-template-columns: 1fr 367px;
    //  grid-template-areas: ;
    // grid-auto-flow:column ;
  }
}
.p-wrapper--archive {
  @include breakpoint(pc) {
    display: grid;
    grid-template-columns: 1fr 367px;
    grid-template-rows: 2445px 150px;
  }
}
.p-wrapper-archive__serch {
  @include breakpoint(pc) {
    display: grid;
    grid-template-columns: 1fr 367px;
    grid-template-rows: 3445px 150px;
  }
}
.p-wrapper-single {
  @include breakpoint(pc) {
    display: grid;
    grid-template-columns: 1fr 367px;
    grid-template-rows: 6097px 150px;
  }
}
