.c-headline {
  font-family: 'M+ Type-1 (general-j) bold';
 
 &__3 {
  font-size: 16px;
    padding-top: 24px;
    
    @include breakpoint (pc) {
      font-size: 24px;
      padding-top: 47px;
    }
    h1 {
     
    }
    &__single {
      font-size: 24px;
      font-family: 'M+ Type-1 (general-j) bold';
      color: $font-color;
      padding: 34px 0 0 0px;
      @include breakpoint (tablet) {
        padding: 60px 0 0 0;
        font-size: 28px;
      }
    }
   
 }
 &__4 {
  
   a {
    font-size: 16px;
    font-family: 'M+ Type-1 (general-j) bold';
    color: #fff;
    padding: 31px 0 0 0px;
    text-decoration: none;
   }
   &__single {
     font-size: 20px;
     font-family: 'M+ Type-1 (general-j) bold';
     color: $font-color;
     padding: 31px 0 0 0px;
     @include breakpoint (tablet) {
       
     }
   }
 }
}






.c-headline__4 {
font-size: 16px;
padding-top:24px;
@include breakpoint (pc){
  font-size:24px;

}
}