.c-page-button {
  display: none;
@include breakpoint (tablet) {
  display: block;
  
    text-decoration: none;
    font-size: 16px;
    // padding: 10px 9px 9px 10px;
    margin-top: 105.5px;
    margin-right: 15px;
    
    padding-top: 5px;
    height: 35px;
    width: 35px;
    // margin-top: 80px;
    // margin-bottom: 14px;
    // margin-left: 8px;
    // margin-right: 8px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    // padding-left: 10px;
    // padding-right: 10px;
    // line-height: 2px;
    border: solid #cccccc 2px;
    color: #707070;
    font-weight: bold;
    
    &:hover {
      background: #3C2B1C;
      color: #fff;
    }
}
@include breakpoint (pc) {
  margin-top: 150px;
}
}